@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #FBE9D0;
}
nav,
.nav-links {
  display: flex;
}

nav {
    background-color: #73d0f2;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color:  #110702;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
    color: #E64833;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #E64833;
  }
  
  .logo {
    font-size: 2rem;
  }
  .logo:hover {
    cursor: default;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #E64833;
    border-radius: 4px;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #E64833;
    border-radius: 4px;
    background-color: white;
    resize: none;
    margin-top: 15px;
  }
  button {
    color: #E64833;
    background-color: #73d0f2;
    padding: 16px 32px;
    margin-top: 15px;
    margin-left: 700px;
  }
  .container {
    width: fit-content;
    padding-left: 400px;
    margin-top: 25px;

  }
  label {
    margin-left: 100px;
    margin-top: 15px;
  }
  
